.side-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #dddddd;
    -fx-font-size: 15;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12 15;
}

.side-btn:hover {
    -fx-background-color: #2a2a2a;
    -fx-cursor: hand;
}

.action-btn {
    -fx-background-color: #fccd4d;
    -fx-text-fill: #1a1a1a;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.action-btn:hover {
    -fx-background-color: #e6b93e;
}

.table-view {
    -fx-background-color: #2a2a2a;
    -fx-table-cell-border-color: transparent;
    -fx-border-radius: 18;
}

.table-view .column-header {
    -fx-background-color: #333;
    -fx-text-fill: white;
}
