/* FOND GÉNÉRAL : Noir profond */
.root {
    -fx-background-color: #050505;
}

/* LA CARTE (Le conteneur de chaque commande) */
.card-luxe {
    -fx-background-color: linear-gradient(to bottom right, #1a1a1a, #0d0d0d); /* Dégradé subtil */
    -fx-background-radius: 25; /* Bords TRES arrondis */
    -fx-border-radius: 25;
    -fx-border-color: #333;
    -fx-border-width: 1;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 15, 0, 0, 8);
    -fx-cursor: hand;
    -fx-transition: all 0.2s;
}

/* L'EFFET WOW : Au survol */
.card-luxe:hover {
    -fx-border-color: #fccd4d; /* Bordure Or */
    -fx-scale-x: 1.01; 
    -fx-scale-y: 1.01;
    -fx-effect: dropshadow(three-pass-box, rgba(252, 205, 77, 0.25), 25, 0, 0, 0); /* Lueur dorée */
}

/* LE PRIX (Gros et Or) */
.lbl-prix-gold {
    -fx-text-fill: #fccd4d;
    -fx-font-size: 22px;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(gaussian, rgba(252, 205, 77, 0.4), 10, 0, 0, 0);
}

/* LA BOITE DE DATE (Style Badge) */
.box-date {
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 15; /* Arrondi */
    -fx-border-color: #444;
    -fx-border-radius: 15;
    -fx-padding: 5;
}

/* LA LISTE DES PLATS */
.lbl-plats {
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 14px;
    -fx-font-style: italic;
}

/* BOUTON SUPPRIMER (Rouge Néon) */
.btn-trash {
    -fx-background-color: rgba(255, 68, 68, 0.1);
    -fx-text-fill: #ff4444;
    -fx-background-radius: 30; /* Pilule arrondie */
    -fx-border-color: #ff4444;
    -fx-border-radius: 30;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-padding: 8 15 8 15;
}
.btn-trash:hover {
    -fx-background-color: #ff4444;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, #ff4444, 15, 0, 0, 0);
}